/Solution1/.vs/
/Solution1/x64/
/Solution1/02_pointer_ref/x64/
/Solution1/02_bank_account/x64/
/Solution1/01b_const/x64/
/Solution1/01_pass_by/x64/
/Solution1/03_inheritance_new/x64/
/Solution1/05_move/x64/
/Solution1/07_smart_ptr/x64/
/Solution1/08_template_stack/x64/
